<div>
    <div class="photo"></div>
    <div class="information" *ngIf="_lang=='UA'">
      <h1>Вітаю!</h1>
      <h3>Мене звуть Віталій і я радий вітати Вас на моєму сайті.</h3>
      <h1>Про сайт</h1>
      <h3>Даний сайт присвячений інформації про мене, мої знаннях і вміннях.</h3>
      <h3>Тут Ви можете подивитися портфоліо моїх робіт, а також зв'язатися зі мною з питань співробітництва, роботи або з іншими пропозиціями.</h3>
      <h3>Мої основні інтереси спрямовані на програмування, сталеві конструкції як машинобудування, так і цивільного будівництва.</h3>
    </div>
  
    <div class="information" *ngIf="_lang=='RU'">
      <h1>Здравствуйте!</h1>
      <h3>Меня зовут Виталий и я рад приветствовать Вас на моем сайте.  </h3>
      <h1>О сайте</h1>
      <h3>Данный сайт посвящён информации обо мне, моих знаниях и умениях.</h3>
      <h3>Здесь Вы можете посмотреть портфолио моих работ, а также связаться со мной по вопросам сотрудничества, работы или иными предложениям.</h3>
      <h3>Мои основные интересы направлены на программирование, стальные конструкции как машиностроения, так и гражданского строительства.</h3>
    </div>
  
    <div class="information" *ngIf="_lang=='EN'">
      <h1>Hello!</h1>
      <h3>My name is Vitaliy and I am glad to welcome you at my site.</h3>
      <h1>About the site</h1>
      <h3>This site is dedicated to the information about me, my knowledge and skills.</h3>
      <h3>Here you can see the portfolios of my works, as well as you can contact me in the case of cooperation, work or other offers.</h3>
      <h3>My main interests are focused on programming, steel structures of both mechanical and civil engineering.</h3>
    </div>
  </div>
  