<app-form> </app-form>
<!--         RU               -->
<div *ngIf="_lang=='RU'" class="main">
  <h1>Разработкой чертежей КМД</h1>
  <h2 style="text-align: center;">Вы можете заказать чертежи КМД (конструкции металлические деталировка)</h2>

  <div class="card-main">
    <div class="card">
      <img src="../img/con1.png" alt="">
      <h1>Проектирование</h1>
      <p>выполняется с применением ВІM, что обеспечивает точную увязку на монтаже.</p>
      <p>Раскрой металла и подбор оптимального листового проката позволит сэкономить.</p>
      <p>Поэтапная выдача - изготовление и монтаж начнется раньше.</p>
    </div>
    <div class="card">
      <img src="../img/con2.png" alt="">
      <h1>Изготовление</h1>
      <p>соответствующее мировым стандартам с применением высокотехнологичного оборудования.  </p>
    </div>
    <div class="card">
      <img src="../img/con3.png" alt="">
      <h1>Монтаж </h1>
      <p>выполнит высококвалифицированный персонал, оснащен всей необходимой современной техникой, оборудованием, и инструментом для выполнения всех видов строительно-монтажных работ.</p>
    </div>
  </div>

    <h1>Разработка машин и механизмов.</h1>
    <h2 style="text-align: center;">Вы можете заказать чертежи машин и механизмов, оформленных согласно ЕСКД (единая система конструкторской документации).</h2>
  <div  class="card-main-two">
    <div class="card">
      <img src="../img/img1.png" alt="">
      <h1>CAD - 3D модель и чертежи</h1>
      <p>Выполняются в специализированных программных комплексах, с возможностью параметризации модели.</p>
    </div>
    <div class="card">
      <img src="../img/img4.png" alt="">
      <h1>САЕ - инженерные расчеты</h1>
      <p>Расчеты на прочность проводятся методом конечных элементов в соответствующих программных комплексах.</p>
    </div>
    <div class="card">
      <img src="../img/img5.png" alt="">
      <h1>САМ - поддержка изготовления</h1>
      <p>Подготовка управляющих программ станками с ЧПУ. Подготовка моделей (матриц) для сложных шаблонов и т.д. Раскрой листового металла.</p>
    </div>
  </div>
</div>

<!--         UA               -->
<div *ngIf="_lang=='UA'" class="main">
  <h1>Розробка креслень КМД</h1>
  <h2 style="text-align: center;">Ви можете замовити креслення КМД (конструкції металеві даталювання)</h2>

  <div class="card-main">
    <div class="card">
      <img src="../img/con1.png" alt="">
      <h1>Проектування</h1>
      <p>виконується із застосуванням ВІM, що забезпечує точну ув'язку на монтажі.</p>
      <p>Розкрій металу і підбір оптимального листового прокату дозволить заощадити.</p>
      <p>Поетапна видача - виготовлення і монтаж розпочнеться раніше.</p>
    </div>
    <div class="card">
      <img src="../img/con2.png" alt="">
      <h1>Виготовлення</h1>
      <p>відповідає світовим стандартам із застосуванням високотехнологічного обладнання.</p>
    </div>
    <div class="card">
      <img src="../img/con3.png" alt="">
      <h1>Монтаж</h1>
      <p>виконає висококваліфікований персонал, оснащений всією необхідною сучасною технікою, обладнанням, інструментом для виконання всіх видів будівельно-монтажних робіт</p>
    </div>
  </div>

    <h1>Розробка машин і механізмів.</h1>
    <h2 style="text-align: center;">Ви можете замовити креслення машин і механізмів, оформлення згідно ЄСКД (єдина система конструкторської документації)</h2>
  <div  class="card-main-two">
    <div class="card">
      <img src="../img/img1.png" alt="">
      <h1>CAD - 3D модель і креслення</h1>
      <p>Виконуються в спеціалізованих програмних комплексах, з можливістю параметризації моделі.</p>
    </div>
    <div class="card">
      <img src="../img/img4.png" alt="">
      <h1>САЕ - інженерні розрахунки</h1>
      <p>Розрахунки на міцність проводяться методом кінцевих елементів у відповідних програмних комплексах. </p>
    </div>
    <div class="card">
      <img src="../img/img5.png" alt="">
      <h1>САМ - підтримка виготовлення</h1>
      <p>Підготовка керуючих програм верстатами з ЧПУ. Підготовка моделей (матриць) для складних шаблонів і т.д. Розкрій листового металу.</p>
    </div>
  </div>
</div>

<!--         EN               -->
<div *ngIf="_lang=='EN'" class="main">
  <h1>Drawing development of MDD</h1>
  <h2 style="text-align: center;">You can order MDD drawings (metal detailing designs)</h2>

  <div class="card-main">
    <div class="card">
      <img src="../img/con1.png" alt="">
      <h1>Design </h1>
      <p>is performed by using BIM, which provides accurate linkage on installation.</p>
      <p>Metal cutting and selecting the optimal sheet hire would save.</p>
      <p>Gradual issuance- production and installation will begin earlier.</p>
    </div>
    <div class="card">
      <img src="../img/con2.png" alt="">
      <h1>Manufacturing </h1>
      <p>complies with international standards and high-tech equipment is used.</p>
    </div>
    <div class="card">
      <img src="../img/con3.png" alt="">
      <h1>Installation </h1>
      <p>will be carried out by highly qualified personnel, which is equipped with all necessary modern technique, equipment, and tools for all types of construction and installation works.</p>
    </div>
  </div>

    <h1>Designing of machines and mechanisms.</h1>
    <h2 style="text-align: center;">You can order the drawings of machines and mechanisms, designed according to USDD (unified system of design documentation).</h2>
  <div  class="card-main-two">
    <div class="card">
      <img src="../img/img1.png" alt="">
      <h1>CAD - 3D model & drawings</h1>
      <p>Performed in specialized software systems, with the ability to parameterize the model.</p>
    </div>
    <div class="card">
      <img src="../img/img4.png" alt="">
      <h1>САЕ - engineering calculations</h1>
      <p>. Strength calculations are carried out by the finite element method in the corresponding software systems. </p>
    </div>
    <div class="card">
      <img src="../img/img5.png" alt="">
      <h1>САМ - manufacturing support</h1>
      <p>Preparation of control programs for CNC machines. Preparation of models for complex templates, etc. Cutting sheet metal.</p>
    </div>
  </div>
</div>