<div class="sketchfab-embed-wrapper">
    <iframe frameborder="0" width="100%" src="https://sketchfab.com/playlists/embed?user=ecebb3f850e542e7a7baec47c63790f4"></iframe>
</div>
<div class="github">
    <h3 *ngIf = "_lang === 'RU'">Исходный код, некоторых моих работ, Вы можете посмотреть на <a href="https://github.com/Vitaliy3230?tab=repositories">github</a></h3>
    <h3 *ngIf = "_lang === 'UA'">Вихідний код, деяких моїх робіт, Ви можете подивитися на <a href="https://github.com/Vitaliy3230?tab=repositories">github</a></h3>
    <h3 *ngIf = "_lang === 'EN'">The source code of some of my works, you can look at <a href="https://github.com/Vitaliy3230?tab=repositories">github</a></h3>
</div>