.footer {
    font-family: var(--text-g);
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    border-top:solid 1px;
}

#social-s img{
    padding-left: 5px;
    padding-right: 5px;
}

#social-s img:hover {
    opacity: .5;
}
