<app-menu id="header"></app-menu>
<router-outlet></router-outlet>
<div class="footer">
   <div class="text" *ngIf = "_ln === 'RU'">
      Copyright © vit.mk.ua, 2018-2019. Все права защищены.
   </div>
   <div class="text" *ngIf = "_ln === 'UA'">
      Copyright © vit.mk.ua, 2018-2019. Всі права захищені.
   </div>
   <div class="text" *ngIf = "_ln === 'EN'">
      Copyright © vit.mk.ua, 2018-2019. All rights reserved.
   </div>
   <div id="social-s">      
      <a href="https://www.facebook.com/profile.php?id=100021727781775" target="_blank"><img height="50" src="../../img/iconmonstr-facebook-5-240.png" alt="facebook" title="facebook"></a>
      <a href="https://vk.com/vitaliy__tymoshenko" target="_blank"><img height="50" src="../../img/iconmonstr-vk-5-240.png" alt="vk" title="ВКонтакте"></a>
      <a href="https://www.instagram.com/Vitaliy_Tymoshenko/" target="_blank"><img height="50" src="../../img/iconmonstr-instagram-15-240.png" alt="instagram" title="instagram"></a>
      <a href="skype:wizard3230?add" target="_blank"><img height="50" src="../../img/iconmonstr-skype-5-240.png" alt="skype" title="skype"></a>
      <a href="https://github.com/Vitaliy3230" target="_blank"><img height="50" src="../../img/iconmonstr-github-1-240.png" alt="github" title="github"></a>
   </div>
</div>