/* You can add global styles to this file, and also import other style files */
:root {
    --red: #A83434;
    --blue: #377BA6;
    --grey: #D9D9D9;
    --grey2: #8e8d8d;
    --grey3:#d8d8d8;
    --green: green;
    --white: white;
    --black: black;
    --texth1: 22px;
    --texth2: 20px;
    --texth3: 18px;
    --text-g: serif;
  }
  
  body {    
      background-image: url(img\bg2.jpg);
      background-repeat:no-repeat;   
      background-attachment: fixed;  
      background-position:center;
      margin-left: 150px;
      margin-right: 150px;
      margin-top: 0px;
      margin-bottom: 0px;
      -webkit-background-size: cover;
      -moz-background-size: cover;  
      -o-background-size: cover;  
      -ms-background-size: cover;  
      background-size: cover;  
    }
  
    #vt { font-family: 'Courier New', Courier, monospace;
      font-size: 0em;
    }
  
  
  @media (max-width: 992px) {  
    body {
      margin-left: 10px;
      margin-right: 10px;
    }  
  }