span {
    font-family: var(--text-g);
    font-size: 18px;
}

div.btn-group-toggle {
    font-family: var(--text-g);
    display: inline-block;
    margin: 5px;
}

.btn {
    background-color: var(--grey);
    padding: 5px;
    border-radius: 8px;
    transition-property: all;
    transition-duration: 1.5s;
}

.btn:hover {
    background-color: var(--grey2);
}

.active {
    background-color: var(--grey2);
    padding: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 12px;
}

div {
    text-align: center;
}

input {
    display: none; 
}

span {
    color: #a31c1c;
    font-size: 30px;
    font-weight: bold;
}